/* Header */
.header {
  background-color: #4b002b;
  padding: 10px 0;
  text-align: right;
}

.header img {
  float: left;
}

/* Login Form */
.login-form {
  max-width: 400px;
  width: 100%;
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.icon img {
  opacity: 0.6;
}

/* Button Style */
.login-btn {
  background-color: #b8860b;
  color: white;
}

.login-btn:hover {
  background-color: #8b6508;
}
